**/.DS_Store

.vscode/*

bin/*
include/*
lib/*

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

*.lai
*.la
*.a
*.lib